article {
  padding: 1rem;
  color: #e8e8f4;
  background-color: #a046f5;
}

h2 {
  color: white;
  margin: 0;
}

time {
  color: #f2eef6;
}

.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #090114;
  color: #e7e6e8;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.actions button:hover,
.actions button:active {
  background-color: #47bf0c;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
