<app-header></app-header>
<main>
    <ul id="users">
<!--angular 17 for -->
      @for (user of users; track user.id) {

        <li>
          <app-user [user]="user" [selected]="user.id === selectedUserId"
                    (select)="onSelectUser($event)"></app-user>

        </li>

      }


<!--      <li *ngFor="let user of users">-->
<!--        <app-user [user]="user"-->
<!--                  (select)="onSelectUser($event)"></app-user>-->

<!--      </li>-->
<!-- <button class="new-user">Add User</button>
<style>
  .new-user {
    background-color: #1a1a1b;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #f1eded;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;

  
  }
</style> -->

    </ul>
  @if (selectedUser) {

    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name
   "></app-tasks>

  }

  @else {
    <p id="fallback">Select a user to see their tasks!</p>

  }
<!--  <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name-->
<!--   "></app-tasks>-->
<!--<ng-template #fallback>-->
<!--  <p id="fallback">Select a user to see their tasks!</p>-->
<!--</ng-template>-->

</main>
